.container {
  padding: 50px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 32px;
  font-weight: 800;
}

.label {
  font-weight: 500;
  margin: 0;

  > span {
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
  }
}

.submitBtn {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
}

.published {
  font-size: 24px;
  font-weight: 700;
}

.thumbsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  margin-top: 30px;
}