.container {
  padding: 50px 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.submitBtn {
  margin-top: 50px;
}