.btn {
  padding: 10px 15px;
  background: #0079fa;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s;

  &:hover {
    background-color: #0067d2;
  }
}

.disabled {
  background-color: #d8d8d8;
  color: #808191;
  cursor: not-allowed;

  &:hover,
  &:active {
    background-color: #d8d8d8;
  }
}